<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/basic.css"/>
</head>
<body>
<div class="demo">这是一个模版引擎<%=title%></div>
<img src="image/banner02.jpg">
</body>
</html>